html {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white
}

body {
    padding: 0px;
    margin: 0px;
}

.main-bg-img {
    height: 100vh;
    background-image: url('../assets/2109.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position:relative;
}

#main-name {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    top: 15%;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    margin: 0px;
} 

.typed-text {
    color: #dd1490;
}

.cursor {
    display: inline-block;
    width: 3px;
    margin-left: 4px;
    background: #dd1490;
}

.cursor.blink {
    animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
      background: #dd1490;
    }
    40%, 50% {
      background: transparent;
    }
}

#what-i-do {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.col-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', monospace;
}

.abt-me-ps {
    width: 60%;
    background-color: rgba(48, 48, 48, 0.685);
    padding: 1rem;
    border-radius: 5px;
}

.abt-me-titles {
    border-bottom: 2px solid #dd1490;
}

.sctn-title {
    letter-spacing: .1rem;
    font-size: 32px;
}

.prjct-cards {
    width: 60%;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prjct-cards:hover {
    border: 1px solid #dd1490
}

.prjct-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    padding: 0px;
}

.prjct-description {
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
}


.material-symbols-outlined {
    color: #dd1490;
    padding: 0px 5px 0px 5px
}

#very-bottom {
    height: 3rem;
    background-color: #dd1490b7;
    width: 100vw;
}

#experience-box {
    width: 60%;
}

.exp-job {
    font-size: 26px;
    border-bottom: 2px solid #dd1490;
    width: fit-content
}

.exp-title {
    display: flex;
    align-items: center;
}

.time-worked {
    background-color: rgba(48, 48, 48, 0.685);
    width: fit-content;
    padding: .5rem 1rem .5rem 1rem ;
    border-radius: 3px;
}

.exp-roles > li {
    margin: 1rem;
}

#contact-info {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.contacts {
    background-color: rgba(48, 48, 48, 0.685);
    width: fit-content;
    padding: .5rem 1rem .5rem 1rem ;
    border-radius: 3px;
}

.git-linkd {
    cursor: pointer;
    text-decoration: none;
    color: white;
}